<!DOCTYPE html>
<html lang="en">
  
  <!-- head -->
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" 
          content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
      
    <!-- title -->
    <title>Sorting Algorithm Visualizer</title>
  
    <!-- linking style.css -->
    <link type="text/css" href="{{ url_for('static',filename='ss_style.css')}}" rel="stylesheet" />
  </head>
  
  <!-- body -->
  <body >
     <section class="head">Sorting Algorithm Visualiser</section>
    <section class="data-container"></section>
    <a class="btn1" href="./selection_sort">selection sort</a>
    <a class="btn2" href="./bubble_sort">bubble_sort</a>
    <a class="btn1" href="./merge_sort">merge_sort</a>
</body>
</html>
